{% extends 'main.html' %}
{% block new_reservation %}
    <table class="table table-striped">
        <h3> Add new reservation:</h3><br>
        <form id="submit_area" method="POST">
            {% csrf_token %}
            <tr>
                <td>Hall:</td><td>{{ form.hall }}</td>
            </tr>
            <tr>
                <td>Date (yyyy-mm-dd):</td><td>{{ form.date }}</td>
            </tr>
            <tr>
                <td>Description:</td><td>{{ form.description }}</td>
            </tr>
                <tr><td style="background-color: gainsboro"><input type="submit" value="Submit"></td><td style="background-color: gainsboro"></td></tr>
        </form>
    </table>
    {% if message %}
    <h4 style="color: #ba2121">{{ message }}</h4>
    {% endif %}
{% endblock %}